<div class="top">
    <h2>{{title}}</h2>
    <button id="subir-archivo"><span>Subir Archivo</span><i class="fas fa-plus"></i></button> 
</div>
<hr>
<div class="items">
    {{#if videos}}
        {{#each videos}}
            <div class="video" id="{{fileId}}">
                <button id="eliminar"><i class="fas fa-trash"></i></button>
                <video src="/api/videos/{{fileId}}" alt="{{description}}" controls>
            </div>
        {{/each}}
    {{/if}}
    {{#if images}}
        {{#each images}}
            <div class="imagen" id="{{fileId}}">
                <button id="eliminar"><i class="fas fa-trash"></i></button>
                <img src="/api/imagenes/{{fileId}}" alt="{{description}}">
            </div>
        {{/each}}
    {{/if}}
</div>