<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
  <div class="mensajes">
    {{#if success_msg}}
    <div class="success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="alert">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
    <div class="alert">{{error}}</div>
    {{/if}}
    {{#if errors}}
    {{#each errors}}
    <div class="alert">{{msg}}</div>
    {{/each}}
    {{/if}}
  </div>
  <div class="container">
    <h1>ADAM</h1>
    <form action="/login" method="POST">
      <input type="text" name="email" placeholder="Correo">
      <input type="password" name="password" placeholder="Contraseña">
      <input type="submit" value="Aceptar">
    </form>
  </div>
</body>
</html>